<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
    <settings>
        <!-- 开启自动驼峰匹配 -->
        <setting name="mapUnderscoreToCamelCase" value="true"/>
        <!--使用jdbc的getGeneratedKeys获取数据库主键自增-->
        <setting name="useGeneratedKeys" value="true"/>
        <!--列支持别名-->
        <setting name="useColumnLabel" value="true"/>

    </settings>
    <!-- 指定别名包 -->
   <!-- <typeAliases>
        <typeAlias type="com.imooc.demo.entity.Area" alias="area"/>
    </typeAliases>-->

    <!-- Mapper.xml -->
  <!--  <mappers>
        <mapper resource="mybatis/UserMapper.xml"/>
    </mappers>-->
</configuration>